body{
    .main__favourites{
        padding: 8rem 0 3rem;

        .title__conteiner{
            margin-bottom: 2rem;
            text-align: center;
            .favourites_title{
                color: var(--principal-colour);
        }
        }

        .favourites_gifs_container{
                padding: 0 5rem;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .gif_result_container{
                    margin-bottom: 1.81rem;
                    cursor: pointer;
                    position: relative;
                    width: 16.25rem;
                    height: 12.5rem;
                

                    .gif_result{
                        width: 16.25rem;
                        height: 12.5rem;
                    }

                    .gif_content{
                        display: none;
                    }
                }

            }

        .favourites_noContent_conteiner{
            margin-top: 4rem;
            text-align: center;
            .noContent_paragraph{
                color: $turquesa;
            }
        }
        }
    }

    @media (min-width: 780px){
        .main__favourites{
            .favourites_gifs_container{
                .gif_result_container{
                    .gif_content{
                        display: none;
                        
                        .icons{                            
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        top: 1rem;
                        left: 8rem;
                        width: 47%;

                        .icon{
                            width: 2rem;
                            height: 2rem;
                          }
                          .icon_delete{
                            background: url('/assets/icon-trash-normal.svg') center no-repeat;
    
                              &:hover {
                                background: url('/assets/icon-trash-hover.svg') center no-repeat;
                              }
    
                              &:active {
                                background: url('/assets/icon-fav-active.svg') center no-repeat;
                              }
                          }
                          .icon_download{
                            background: url('/assets/icon-download.svg') center no-repeat;
    
                              &:hover {
                                background: url('/assets/icon-download-hover.svg') center
                                  no-repeat;
                              }
                          }
                          .icon_max{
                            background: url('/assets/icon-max-normal.svg') center no-repeat;
    
                            &:hover {
                              background: url('/assets/icon-max-hover.svg') center no-repeat;
                            }
                          } 
                    }
                    .details{
                        position: absolute;
                        top: 9rem;
                        left: 1rem;
                        .gif_user , .gif_title{
                            font-family: 'Roboto-regular', sans-serif;
                            color: #ffffff;
                        }
                    }
                    }
                    &:hover{
                        .gif_content{
                            display: block;
                            background-color: $azulOscuro;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            opacity: 80%;
                        }
                    }
                }
            }
        }

    }