.trendings__conteiner{

    #trending__tags__container {
        margin: 1.94rem 0;

        .tags__title {
          font-weight: bolder;
          color: var(--principal-colour);
          text-align: center;
        }

        #tags__content {
          font-size: 1rem; 
          color: var(--principal-colour);
          text-align: center;
          padding: 1rem 27vw;

          .trending_tags {
            cursor: pointer;
            &:hover{
              font-size: 1.1rem;
              text-shadow: 0px 2px 3px rgba(80, 227, 194, 0.90);
            }
            &::after {
              content: ', ';
          }
            &:last-child::after {
              content: ' ';
          }
        }
      }
    }

  }


@media (min-width: 780px){
    .trendings__conteiner{
      #trending__tags__container {
        margin-top: 4.56rem;
        .tags__title {
          font-size: 1.13rem;
        }
        #tags__content {
          padding: 1rem 38vw;
        }
      }
    }
  }
