body{
    #header__container{
        border-top: 5px  solid rgb(87, 46, 229);
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        z-index: 100;
        
        .imgs_container{
            padding: 2.13rem 1.63rem 1.08rem 1.38rem;
            display: flex;
            justify-content: space-between;

            .img_logo{
                width: 3.05rem;

            }
        }

        .btnCrear{
            overflow: hidden;
            width: 0;
        }

        .menu_hamburguesa{
            cursor: pointer;
        }

        .navbar{
            position: absolute;
            background-color: $azulOscuro;
            opacity: 90%;
            width: 100%;
            overflow: hidden;
            height: 0;

            .navbar_menu{
                text-decoration: none;
                list-style: none;
                
                li{
                    text-align: center;
                    padding: 1rem 0;

                    .navbar_menu_item{
                        font-family: 'Montserrat', sans-serif;
                        color: #ffffff;
                        font-size: 0.94rem;
                        text-align: center;
                        
                       
                        &:hover{
                            border-bottom: 2px solid $turquesa;
                        }

                        &:active{
                            color: $textActive;
                        }
                }

               
                }
                .navbar_menu_line{
                    width: 2.56rem;
                    height: 0.01rem;
                    opacity: 50%;
                    margin-left: 48%;
                }
                
            }
            
        }
        .navbar_menu_open{
            height: 100vh;
        }
    
}
}


@media (min-width: 780px){
    body{
        #header__container{
            padding: 1.44rem 9.75rem 0.81rem;
            display: flex;
            justify-content: space-between;

            .imgs_container{
                padding: 0;
                .img_logo{
                    width: 3.69rem;
                }
                .menu_hamburguesa{
                    overflow: hidden;
                    width: 0;
                }
            }

            .navbar_search_container {
                position: relative;
                margin: 1rem 0 0 2rem;
        
                #search_input_navbar {
                  outline: none;
                  background: #ffffff;
                  border: 1px solid $azulOscuro;
                  border-radius: 27px;
                  font-size: 16px;
                  padding: 0.8rem 2.5rem;
                  
                }
        
                .searchIcon__navbar {
                  position: absolute;
                  right: 8%;
                  top: 21%;
                  cursor: pointer;
                }
            }

            .navbar{
                overflow: visible;
                width: 26rem;
                position: initial;
                background-color: #ffffff;
                margin: 1rem 0 0 22rem;
                
                .navbar_menu{
                    display: flex;
                    justify-content: space-between;
                    li{
                        .navbar_menu_item{
                            color: $azulOscuro;
                            font-weight: 700;
                        }
                        }
                    .navbar_menu_line{
                        display: none;
                    }
                }
            }

            .btnCrear{
                overflow: visible;
                width: 4.5rem;
                height: 4.5rem;
                cursor: pointer;
            }
            

        }
    }
} 
