.trendings__conteiner{

  // * TAGS * //
    #trending__tags__container {
        margin: 1.94rem 0;

        .tags__title {
          font-weight: bolder;
          color: $azulOscuro;
          text-align: center;
        }

        #tags__content {
          font-size: 1rem; 
          color: $azulOscuro;
          text-align: center;
          padding: 1rem 27vw;

          .trending_tags {
            &::after {
              content: ', ';
          }
            &:last-child::after {
              content: ' ';
          }
        }
      }
    }

    // * GIFS *//
  }


@media (min-width: 780px){
    .trendings__conteiner{
      #trending__tags__container {
        margin-top: 4.56rem;
        .tags__title {
          font-size: 1.13rem;
        }
        #tags__content {
          padding: 1rem 38vw;
        }
      }
    }
  }
