.main{
 .hero__container{

    .hero__search {
        position: relative;

        #search_input {
          outline: none;
          background: #ffffff;
          border: 1px solid $azulOscuro;
          border-radius: 27px;
          width: 100%;
          font-size: 16px;
          padding: 0.85rem 3.5rem;
        }

        a {
          position: absolute;
          right: 6%;
          top: 30%;
          cursor: pointer;
        }
      }

    .search__results__container{
        padding: 5.12rem 0 4.94rem;
        
        #search__results__title{
            text-align: center;
            color: $azulOscuro;
            font-family: "Montserrat", sans-serif;
            font-weight: bolder;
            margin-bottom: 2.38rem;
        }
        #search__results__gallery{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100vw;
 
            .gif_result_container{
                position: relative;

                .gif_result{
                    width: 9.75rem;
                    height: 7.5rem;              
                }

                .gif_content{
                    display: none;
                }

            }
        }

        #show_more_btn{
            border: 1px solid $azulOscuro;
            border-radius: 25px;
            font: 13px 'Montserrat', sans-serif;
            font-weight: bolder;
            display: block;
            width: 8rem;
            margin: 1rem auto;
            text-align: center;
            color: $azulOscuro;
            padding: 1rem;

            &:hover{
                background-color: $azulOscuro;
                color: #ffffff;
            }
        }
    }

    .recommendedSearch__container{
        border: 1px solid $azulOscuro;
        border-bottom-left-radius: 27px;
        border-bottom-right-radius: 27px;
        width: 50vw;
        padding: 0.85rem 3.5rem;

        .recommended__search{
            .suggested_item{
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 16px;
                color: #9CAFC3;
                margin-top: 1rem;

                .suggested_icon{
                    width: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
 }   
}


@media (min-width: 780px){
    .main{
        .hero__container{

            .hero__search {
                #search_input {
                  width: 50vw;
                }
                a {
                  .searchIcon {
                    right: 27vw;
                    top: 83vh;
                  }
                }
              }

            .search__results__container{
                    #search__results__gallery{
                        width: 98vw;
                        flex-wrap: wrap;

                        .gif_result_container{
                            margin-bottom: 1.81rem;
                            cursor: pointer;

                            .gif_result{
                                width: 16.25rem;
                                height: 12.5rem;
                            }

                            .gif_content{
                                display: none;
                                
                                .icons{                            
                                display: flex;
                                justify-content: space-between;
                                position: absolute;
                                top: 1rem;
                                left: 8rem;
                                width: 47%;
                            }
                            .details{
                                position: absolute;
                                top: 9rem;
                                left: 1rem;
                                .gif_user , .gif_title{
                                    font-family: 'Roboto-regular', sans-serif;
                                    color: #ffffff;
                                }
                            }
                            }
                           
                           &:hover{
                               .gif_content{
                                   display: block;
                                   background-color: $azulOscuro;
                                   width: 100%;
                                   height: 99%;
                                   position: absolute;
                                   z-index: 1;
                                   top: 0;
                                   opacity: 80%;
                               }
                           }
                        }
                    }

                }
            }
    }
}