body{
    .max_gif_conteiner{
        .max_gif_content{
            justify-content: center;
            display: flex;
            flex-direction: column;
            z-index: 200000;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: var(--principal-background);
            .close_icon{
                margin: 0 0 1rem 65%;
                cursor: pointer;

            }
            .main_gif{
                width: 70vw;
                align-self: center;
            }
            .gif_max_details{
                display: flex;
                margin: 1rem 16%;
                justify-content: space-between;
                .gif_max_info{
                    color: var(--principal-colour);
                    width: 80%;
                    font-size: 13px;
                }
                .gifmax_btns{
                    cursor: pointer;
                    width: 18%;
                    display: flex;
                    justify-content: space-between;
                }

            }
        }

    }
}

@media (min-width: 780px){
    .max_gif_conteiner{
        .max_gif_content{
            padding: 0 20%;
            .close_icon{
                margin: 0 0 1rem 65%;
            }

            .main_gif{
                width: 40vw;
                align-self: center;
            }
            .gif_max_details{
                margin: 1rem 30%;

                .gif_max_info{
                    font-size: 20px;
                }
        }
    }
}
}