// Estilos de letras
$letrasTitulos: 'Montserrat-Bold', sans-serif;
$letrasSubtitulos: 'Montserrat-Medium';
$letrasParrafos:'Roboto-Regular';
$azulOscuro: #572EE5;
$turquesa:#50e3c2;
$textActive: #9cafc3;


// Colores de fondo
$fondoClaroDiurno: #F3F5F8;
$fondoClaroNocturno: #37383C;
$fondoOscuroNocturno: #222326;


// * * LIGHT MODE * * //
body{
    --principal-colour: #572EE5;
    --secondary-colour: #000000;
    --principal-background: #FFFFFF;
    --secondary-background: #F3F5F8;
    --burger-menu-background: #572EE5;
}

// * * DARK MODE * * //
body.dark{
    --principal-colour: #FFFFFF;
    --secondary-colour: #FFFFFF;
    --principal-background: #37383C;
    --secondary-background:  #222326;
    --burger-menu-background: #000000;
}