// Estilos de letras
$letrasTitulos: 'Montserrat-Bold', sans-serif;
$letrasSubtitulos: 'Montserrat-Medium';
$letrasParrafos:'Roboto-Regular';
$azulOscuro: #572EE5;
$turquesa:#50E3C2;
$textActive: #9cafc3;


// Colores de fondo
$fondoClaroDiurno: #F3F5F8 100%;
$fondoClaroNocturno: #37383C 100%;
$fondoOscuroNocturno: #222326 100%;

