* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 1s;
  transition: 1s;
}

.hide {
  display: none;
}

body {
  --principal-colour: #572EE5;
  --secondary-colour: #000000;
  --principal-background: #FFFFFF;
  --secondary-background: #F3F5F8;
  --burger-menu-background: #572EE5;
}

body.dark {
  --principal-colour: #FFFFFF;
  --secondary-colour: #FFFFFF;
  --principal-background: #37383C;
  --secondary-background:  #222326;
  --burger-menu-background: #000000;
}

body {
  background-color: var(--principal-background);
}

body #header__container {
  border-top: 5px solid var(--principal-colour);
  position: fixed;
  width: 100%;
  background-color: var(--principal-background);
  z-index: 100;
}

body #header__container .imgs_container {
  padding: 2.13rem 1.63rem 1.08rem 1.38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #header__container .imgs_container .img_logo {
  width: 3rem;
  cursor: pointer;
}

body #header__container .imgs_container .img_logo:hover {
  width: 4rem;
}

body #header__container .btnCrear {
  overflow: hidden;
  width: 0;
}

body #header__container .menu_hamburguesa {
  cursor: pointer;
}

body #header__container .navbar {
  position: absolute;
  background-color: var(--burger-menu-background);
  opacity: 90%;
  width: 100%;
  overflow: hidden;
  height: 0;
}

body #header__container .navbar .navbar_menu {
  text-decoration: none;
  list-style: none;
}

body #header__container .navbar .navbar_menu li {
  text-align: center;
  padding: 1rem 0;
}

body #header__container .navbar .navbar_menu li .navbar_menu_item {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 0.94rem;
  text-align: center;
  cursor: pointer;
}

body #header__container .navbar .navbar_menu li .navbar_menu_item:hover {
  border-bottom: 2px solid #50E3C2;
}

body #header__container .navbar .navbar_menu li .navbar_menu_item:active {
  color: #9cafc3;
}

body #header__container .navbar .navbar_menu .navbar_menu_line {
  width: 2.56rem;
  height: 0.01rem;
  opacity: 50%;
  margin-left: 48%;
}

body #header__container .navbar_menu_open {
  height: 100vh;
}

@media (min-width: 780px) {
  body #header__container {
    padding: 1.44rem 9.75rem 0.81rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #header__container .imgs_container {
    padding: 0;
  }
  body #header__container .imgs_container .img_logo {
    width: 3.69rem;
  }
  body #header__container .imgs_container .menu_hamburguesa {
    overflow: hidden;
    width: 0;
  }
  body #header__container .navbar_search_container {
    position: relative;
    margin: 1rem 0 0 2rem;
  }
  body #header__container .navbar_search_container #search_input_navbar {
    outline: none;
    background: var(--principal-background);
    border: 1px solid var(--principal-colour);
    border-radius: 27px;
    font-size: 16px;
    padding: 0.8rem 2.5rem;
  }
  body #header__container .navbar_search_container .searchIcon__navbar {
    position: absolute;
    right: 8%;
    top: 21%;
    cursor: pointer;
  }
  body #header__container .navbar {
    overflow: visible;
    width: 26rem;
    position: initial;
    background-color: #ffffff;
    margin: 1rem 0 0 22rem;
  }
  body #header__container .navbar .navbar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #header__container .navbar .navbar_menu li .navbar_menu_item {
    color: var(--principal-colour);
    font-weight: 700;
  }
  body #header__container .navbar .navbar_menu .navbar_menu_line {
    display: none;
  }
  body #header__container .btnCrear {
    overflow: visible;
    width: 4.5rem;
    height: 4.5rem;
    cursor: pointer;
  }
}

body .main .hero__container {
  padding: 10rem 1.31rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .hero__container .hero__title {
  padding: 0 2rem 2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--principal-colour);
  font-size: 1.56rem;
  text-align: center;
}

body .main .hero__container .hero__title .title_span {
  color: #50E3C2;
}

body .main .hero__container .hero__ilustration {
  width: 17.06rem;
}

@media (min-width: 780px) {
  body .main .hero__container {
    padding: 9.75rem 15.81rem 2rem;
  }
  body .main .hero__container .hero__title {
    font-size: 2.19rem;
    padding: 0 8rem 2rem;
  }
  body .main .hero__container .hero__ilustration {
    width: 24.94rem;
  }
}

.trendings__conteiner #trending__tags__container {
  margin: 1.94rem 0;
}

.trendings__conteiner #trending__tags__container .tags__title {
  font-weight: bolder;
  color: var(--principal-colour);
  text-align: center;
}

.trendings__conteiner #trending__tags__container #tags__content {
  font-size: 1rem;
  color: var(--principal-colour);
  text-align: center;
  padding: 1rem 27vw;
}

.trendings__conteiner #trending__tags__container #tags__content .trending_tags::after {
  content: ', ';
}

.trendings__conteiner #trending__tags__container #tags__content .trending_tags:last-child::after {
  content: ' ';
}

@media (min-width: 780px) {
  .trendings__conteiner #trending__tags__container {
    margin-top: 4.56rem;
  }
  .trendings__conteiner #trending__tags__container .tags__title {
    font-size: 1.13rem;
  }
  .trendings__conteiner #trending__tags__container #tags__content {
    padding: 1rem 38vw;
  }
}

.trendings__conteiner .trending__gifs__conteiner {
  background-color: var(--secondary-background);
  padding: 3rem 0;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_title {
  text-align: center;
  color: var(--principal-colour);
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_paragraph {
  text-align: center;
  color: var(--secondary-colour);
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider {
  margin: 2rem 0 0 1.40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .arrows {
  display: none;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content {
  cursor: pointer;
  position: relative;
  margin-right: 2rem;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_result {
  width: 15.19rem;
  height: 11.69rem;
}

.trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info {
  display: none;
}

@media (min-width: 780px) {
  .trendings__conteiner {
    padding: 5rem 0;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .arrows {
    display: block;
    cursor: pointer;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content {
    overflow: hidden;
    margin: 0 1rem;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_result {
    width: 22.30rem;
    height: 17.19rem;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info {
    width: 100%;
    height: 98%;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 13rem;
    width: 35%;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon {
    width: 2rem;
    height: 2rem;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_fav {
    background: url("/assets/icon-fav.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_fav:hover {
    background: url("/assets/icon-fav-hover.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_fav:active {
    background: url("/assets/icon-fav-active.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_download {
    background: url("/assets/icon-download.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_download:hover {
    background: url("/assets/icon-download-hover.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_max {
    background: url("/assets/icon-max-normal.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .icons .icon_max:hover {
    background: url("/assets/icon-max-hover.svg") center no-repeat;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .details {
    position: absolute;
    top: 13rem;
    left: 1rem;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .details .gif_user, .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content .trendingGif_info .details .gif_title {
    font-family: 'Roboto-regular', sans-serif;
    color: #ffffff;
  }
  .trendings__conteiner .trending__gifs__conteiner .trending_gifs_slider .trending_gifs_content .trending_gif_content:hover .trendingGif_info {
    display: block;
    background-color: #572EE5;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 80%;
  }
}

.main .hero__container .hero__search .hero_input {
  position: relative;
}

.main .hero__container .hero__search .hero_input .active_search {
  width: 50vw;
  outline: none;
  background: var(--principal-background);
  border: 1px solid var(--principal-colour);
  border-radius: 27px;
  width: 100%;
  font-size: 16px;
  padding: 0.85rem 3.5rem;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main .hero__container .hero__search .hero_input .search_input {
  outline: none;
  background: var(--principal-background);
  border: 1px solid var(--principal-colour);
  border-radius: 27px;
  width: 100%;
  font-size: 16px;
  padding: 0.85rem 3.5rem;
}

.main .hero__container .hero__search .hero_input #searchIcon {
  position: absolute;
  right: 6%;
  top: 30%;
  cursor: pointer;
}

.main .hero__container .hero__search .recommendedSearch__container {
  border: 1px solid var(--principal-colour);
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  border-top: none;
  width: 100%;
  padding: 0.85rem 3.5rem;
}

.main .hero__container .hero__search .recommendedSearch__container .recommended__search .suggested_item {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: #9CAFC3;
  margin-top: 1rem;
}

.main .hero__container .hero__search .recommendedSearch__container .recommended__search .suggested_item .suggested_icon {
  width: 1rem;
  margin-right: 1rem;
}

.main .hero__container .search__results__container {
  padding: 5.12rem 0 4.94rem;
}

.main .hero__container .search__results__container #search__results__title {
  text-align: center;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-bottom: 2.38rem;
}

.main .hero__container .search__results__container #search__results__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.main .hero__container .search__results__container #search__results__gallery .gif_result_container {
  position: relative;
}

.main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_result {
  width: 9.75rem;
  height: 7.5rem;
}

.main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content {
  display: none;
}

.main .hero__container .search__results__container #show_more_btn {
  border: 1px solid var(--principal-colour);
  border-radius: 25px;
  font: 13px 'Montserrat', sans-serif;
  font-weight: bolder;
  display: block;
  width: 8rem;
  margin: 1rem auto;
  text-align: center;
  color: var(--principal-colour);
  padding: 1rem;
}

.main .hero__container .search__results__container #show_more_btn:hover {
  background-color: #572EE5;
  color: #ffffff;
}

@media (min-width: 780px) {
  .main .hero__container .hero__search #search_input {
    width: 50vw;
  }
  .main .hero__container .hero__search a .searchIcon {
    right: 27vw;
    top: 83vh;
  }
  .main .hero__container .search__results__container #search__results__gallery {
    width: 98vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container {
    margin-bottom: 1.81rem;
    cursor: pointer;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_result {
    width: 16.25rem;
    height: 12.5rem;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content {
    display: none;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 47%;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon {
    width: 2rem;
    height: 2rem;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_fav {
    background: url("/assets/icon-fav.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_fav:hover {
    background: url("/assets/icon-fav-hover.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_fav:active {
    background: url("/assets/icon-fav-active.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_download {
    background: url("/assets/icon-download.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_download:hover {
    background: url("/assets/icon-download-hover.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_max {
    background: url("/assets/icon-max-normal.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .icons .icon_max:hover {
    background: url("/assets/icon-max-hover.svg") center no-repeat;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .details {
    position: absolute;
    top: 9rem;
    left: 1rem;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .details .gif_user, .main .hero__container .search__results__container #search__results__gallery .gif_result_container .gif_content .details .gif_title {
    font-family: 'Roboto-regular', sans-serif;
    color: #ffffff;
  }
  .main .hero__container .search__results__container #search__results__gallery .gif_result_container:hover .gif_content {
    display: block;
    background-color: #572EE5;
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 80%;
  }
}

body .footer__conteiner {
  background-color: var(--principal-background);
  color: var(--secondary-colour);
  width: 100%;
  height: 13rem;
  padding: 3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  border-bottom: 5px solid var(--principal-colour);
}

body .footer__conteiner .social_media_conteiner {
  padding: 0 8rem;
}

body .footer__conteiner .social_media_conteiner .social_media_icons {
  margin-top: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer__conteiner .social_media_conteiner .social_media_icons .socialmedia__item {
  width: 2rem;
  color: #cdd6e0;
}

body .footer__conteiner .social_media_conteiner .social_media_icons .socialmedia__item:hover {
  color: #572EE5;
}

@media (min-width: 780px) {
  body .footer__conteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 9rem;
    padding: 3rem 7rem;
  }
  body .footer__conteiner .social_media_conteiner {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .footer__conteiner .social_media_conteiner .social_media_icons {
    margin-top: 0;
  }
}

body .main__favourites {
  padding: 8rem 0 3rem;
}

body .main__favourites .title__conteiner {
  margin-bottom: 2rem;
  text-align: center;
}

body .main__favourites .title__conteiner .favourites_title {
  color: var(--principal-colour);
}

body .main__favourites .favourites_gifs_container {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .main__favourites .favourites_gifs_container .gif_result_container {
  margin-bottom: 1.81rem;
  cursor: pointer;
  position: relative;
  width: 16.25rem;
  height: 12.5rem;
}

body .main__favourites .favourites_gifs_container .gif_result_container .gif_result {
  width: 16.25rem;
  height: 12.5rem;
}

body .main__favourites .favourites_gifs_container .gif_result_container .gif_content {
  display: none;
}

body .main__favourites .favourites_noContent_conteiner {
  margin-top: 4rem;
  text-align: center;
}

body .main__favourites .favourites_noContent_conteiner .noContent_paragraph {
  color: #50E3C2;
}

@media (min-width: 780px) {
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content {
    display: none;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 47%;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon {
    width: 2rem;
    height: 2rem;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_delete {
    background: url("/assets/icon-trash-normal.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_delete:hover {
    background: url("/assets/icon-trash-hover.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_delete:active {
    background: url("/assets/icon-fav-active.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_download {
    background: url("/assets/icon-download.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_download:hover {
    background: url("/assets/icon-download-hover.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_max {
    background: url("/assets/icon-max-normal.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .icons .icon_max:hover {
    background: url("/assets/icon-max-hover.svg") center no-repeat;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .details {
    position: absolute;
    top: 9rem;
    left: 1rem;
  }
  .main__favourites .favourites_gifs_container .gif_result_container .gif_content .details .gif_user, .main__favourites .favourites_gifs_container .gif_result_container .gif_content .details .gif_title {
    font-family: 'Roboto-regular', sans-serif;
    color: #ffffff;
  }
  .main__favourites .favourites_gifs_container .gif_result_container:hover .gif_content {
    display: block;
    background-color: #572EE5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 80%;
  }
}

body .crearGif__conteiner {
  padding: 10rem 6rem 1.60rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .crearGif__conteiner .crearGif_elements_conteiner .camera_elements {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .crearGif__conteiner .crearGif_elements_conteiner .camera_elements .camera_light {
  margin-bottom: 1rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central {
  width: 43rem;
  height: 24.40rem;
  border: 1px solid var(--principal-colour);
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .corners {
  width: 1.60rem;
  height: 1.60rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .top_corners_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .top_corners_screen .top_left_corner {
  border-top: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .top_corners_screen .top_right_corner {
  border-top: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner #user_video, body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner #user_gif {
  width: 405px;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner .video_overlay {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgba(86, 46, 229, 0.6);
  width: 100%;
  height: 98.7%;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner .video_overlay .actions_overlay {
  position: absolute;
  top: 1rem;
  left: 18rem;
  cursor: pointer;
  padding-left: 1rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner .video_overlay .actions_overlay .btn_actions {
  padding-left: 1rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner .video_overlay #icon_overlay {
  margin-top: 8rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .video_conteiner .video_overlay #paragraph_overlay {
  color: #ffffff;
  font-weight: bold;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .texts_central {
  text-align: center;
  line-height: 2.19rem;
  vertical-align: auto;
  color: var(--secondary-colour);
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .texts_central .title_texts {
  color: var(--principal-colour);
  padding: 0 13rem;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .texts_central .title_texts .span_title {
  color: #50E3C2;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .bottom_corners_screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .bottom_corners_screen .bottom_left_corner {
  border-bottom: 1px solid #50E3C2;
  border-left: 1px solid #50E3C2;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .screen_central .bottom_corners_screen .bottom_right_corner {
  border-bottom: 1px solid #50E3C2;
  border-right: 1px solid #50E3C2;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .steps_central {
  margin: 2rem 0 2rem 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .steps_central .steps_conteiner .step_btn_central {
  border: 2px solid var(--principal-colour);
  padding: 5px 11px;
  border-radius: 50%;
  color: var(--principal-colour);
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .steps_central .steps_conteiner .step_btn_central_active {
  border: 2px solid var(--principal-colour);
  padding: 5px 11px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #572EE5;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .steps_central .recording_timer {
  color: var(--principal-colour);
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .steps_central .record_again {
  color: var(--principal-colour);
  border-bottom: 3px solid #50E3C2;
  font-weight: bold;
  cursor: pointer;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .line_central {
  padding: 3px;
  border-radius: 5px;
  background-color: #572EE5;
  width: 100%;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .buttons_central {
  border: 1px solid var(--principal-colour);
  border-radius: 25px;
  font: 13px 'Montserrat', sans-serif;
  font-weight: bolder;
  display: block;
  width: 8rem;
  margin: 1rem auto;
  text-align: center;
  color: var(--principal-colour);
  padding: 1rem;
  cursor: pointer;
}

body .crearGif__conteiner .crearGif_elements_conteiner .central_elements .buttons_central:hover {
  background-color: #572EE5;
  color: #ffffff;
}

body .crearGif__conteiner .crearGif_elements_conteiner .cameraRoll_elements {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 5rem 1rem;
}

body .mis_gifos_conteiner {
  padding: 8rem 0 3rem;
}

body .mis_gifos_conteiner .title__conteiner {
  margin-bottom: 2rem;
  text-align: center;
}

body .mis_gifos_conteiner .title__conteiner .mis_gifos_title {
  color: var(--principal-colour);
}

body .mis_gifos_conteiner .mis_gifos_content {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .mis_gifos_conteiner .mis_gifos_content .gif_result_container {
  margin-bottom: 1.81rem;
  cursor: pointer;
  position: relative;
  width: 16.25rem;
  height: 12.5rem;
}

body .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_result {
  width: 16.25rem;
  height: 12.5rem;
}

body .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content {
  display: none;
}

body .mis_gifos_conteiner .mis_gifos_content .mis_gifos_noContent_conteiner {
  margin-top: 4rem;
  text-align: center;
}

body .mis_gifos_conteiner .mis_gifos_content .mis_gifos_noContent_conteiner .noContent_paragraph {
  color: #50E3C2;
}

@media (min-width: 780px) {
  .mis_gifos_conteiner .mis_gifos_content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content {
    display: none;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 8rem;
    width: 47%;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon {
    width: 2rem;
    height: 2rem;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_delete {
    background: url("/assets/icon-trash-normal.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_delete:hover {
    background: url("/assets/icon-trash-hover.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_delete:active {
    background: url("/assets/icon-fav-active.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_download {
    background: url("/assets/icon-download.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_download:hover {
    background: url("/assets/icon-download-hover.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_max {
    background: url("/assets/icon-max-normal.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .icons .icon_max:hover {
    background: url("/assets/icon-max-hover.svg") center no-repeat;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .details {
    position: absolute;
    top: 9rem;
    left: 1rem;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .details .gif_user, .mis_gifos_conteiner .mis_gifos_content .gif_result_container .gif_content .details .gif_title {
    font-family: 'Roboto-regular', sans-serif;
    color: #ffffff;
  }
  .mis_gifos_conteiner .mis_gifos_content .gif_result_container:hover .gif_content {
    display: block;
    background-color: #572EE5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    opacity: 80%;
  }
}

body .max_gif_conteiner .max_gif_content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 200000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--principal-background);
}

body .max_gif_conteiner .max_gif_content .close_icon {
  margin: 0 0 1rem 51%;
  cursor: pointer;
}

body .max_gif_conteiner .max_gif_content .main_gif {
  width: 50vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .max_gif_conteiner .max_gif_content .gif_max_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 42%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .max_gif_conteiner .max_gif_content .gif_max_details .gif_max_info {
  color: var(--principal-colour);
  width: 80%;
}

body .max_gif_conteiner .max_gif_content .gif_max_details .gifmax_btns {
  cursor: pointer;
  width: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 780px) {
  .max_gif_conteiner .max_gif_content .close_icon {
    margin: 0 0 1rem 40%;
  }
  .max_gif_conteiner .max_gif_content .main_gif {
    width: 30vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .max_gif_conteiner .max_gif_content .gif_max_details {
    margin: 1rem 35%;
  }
}
/*# sourceMappingURL=styles.css.map */